<html>
    <head>
        <script src="https://bitbucket.org/atlassian-connect/all.js" data-options="sizeToParent:true"></script>
        <title>ClassNotes</title>
    </head>
    
    <body>
        Hey! Welcome to ClassNotes. {{repo_uuid}}
        <br/>
        Please grant access to Bitbucket first:
        <a href="https://classnotes-varunagrawal.c9.io/notes/atlas_signin">Bitbucket Login</a>
        <br/>
        If you have already given Bitbucket access, please click
        <a href="https://classnotes-varunagrawal.c9.io/notes/ms_signin">here</a>
        to begin.
    </body>
</html>